@import "@xyflow/react/dist/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "DMMono";
    font-style: normal;
    font-weight: lighter;
    font-display: swap;
    src: url("./web/fonts/DM_Mono/DMMono-Light.ttf");
}

@font-face {
    font-family: "DMMono";
    font-style: italic;
    font-weight: lighter;
    font-display: swap;
    src: url("./web/fonts/DM_Mono/DMMono-LightItalic.ttf");
}

@font-face {
    font-family: "DMMono";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("./web/fonts/DM_Mono/DMMono-Regular.ttf");
}

@font-face {
    font-family: "DMMono";
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url("./web/fonts/DM_Mono/DMMono-Italic.ttf");
}

@font-face {
    font-family: "DMMono";
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url("./web/fonts/DM_Mono/DMMono-MediumItalic.ttf");
}

@font-face {
    font-family: "DMMono";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url("./web/fonts/DM_Mono/DMMono-Medium.ttf");
}

@font-face {
    font-family: "GasoekOne";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./web/fonts/Gasoek_One/GasoekOne-Regular.woff2") format("woff2");
}

.react-flow {
    --bg-color: #000;
    --text-color: #fff;
    --node-border-radius: 10px;
    --node-box-shadow: 10px 0 15px rgba(42, 138, 246, 0.3),
        -10px 0 15px rgba(233, 42, 103, 0.3);
    background-color: var(--bg-color);
    color: var(--text-color);
}

html,
body,
#root {
    height: 100%;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.react-flow__node,
.react-flow__node.selected {
    background: transparent !important;
    border: none;
    box-shadow: none !important;
    outline: none;
}

path.react-flow__edge-path {
    stroke: none !important;
}
