@import "@xyflow/react/dist/style.css";
@import "@fontsource/gasoek-one";
@import "@fontsource/dm-mono";
@import "@fontsource/dm-sans";
@import '@radix-ui/themes/styles.css';
@import "/web/brand-theme.css";


html,
body,
#root {
    height: 100%;
    margin: 0;
    font-size: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.react-flow__node,
.react-flow__node.selected {
    background-color: transparent !important;
    border: none;
    box-shadow: none !important;
    outline: none;
}



.dark {
    --xy-controls-button-background-color: var(--gray-2);
    --xy-controls-button-color: var(--gray-11);
}

.react-flow__panel {
    border-radius: var(--radius-2);
    border-width: 2px;
    overflow: hidden;
}

.react-flow__panel {
    background: var(--color-panel);
}


path.react-flow__edge-path {
    stroke: none !important;
}

.port-label {
    fontFamily: var(--code-font-family);
    fontStyle: italic;
}

.node-type-header {
    font-family: var(--code-font-family);
    font-weight: bold;
    font-size: var(--font-size-5);
    padding-top: 0.25rem;
    margin-top: 0;
    text-align: center;
}


.target {
    border-color: var(--type-color);
}

.source {
    background: var(--type-color);
}

.rope-path {
    stroke: var(--type-color);
}

.start-marker,
.end-marker {
    fill: var(--type-color);
}

.Any {
    --type-color: var(--any-color);
}

.AnyField {
    --type-color: var(--field-color);
}

.AnyProceduralField {
    --type-color: var(--field-color);
}

.AnyProceduralFieldWithDimensionality {
    --type-color: var(--field-color);
}

.Field {
    --type-color: var(--field-color);
}

.AnyTexture {
    --type-color: var(--field-color);
}

.Texture {
    --type-color: var(--field-color);
}

.ProceduralField {
    --type-color: var(--field-color);
}

.AnyNumber {
    --type-color: var(--number-color);
}

.AnyFloat {
    --type-color: var(--float-color);
}

.Float {
    --type-color: var(--float-color);
}

.Int {
    --type-color: var(--int-color);
}

.Bool {
    --type-color: var(--bool-color);
}

.SlabMaterial {
    --type-color: var(--material-color);
}

.Material {
    --type-color: var(--material-color);
}


.AnyVectorOrScalar {
    --type-color: var(--material-color);
}

.glow {
    box-shadow: 0 0px 7px rgba(255, 255, 255, 0.8);
}

.wbbl-node-canvas {
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
