@import "@xyflow/react/dist/style.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow {
    --bg-color: #000;
    --text-color: #fff;
    --node-border-radius: 10px;
    --node-box-shadow: 10px 0 15px rgba(42, 138, 246, 0.3),
        -10px 0 15px rgba(233, 42, 103, 0.3);
    background-color: var(--bg-color);
    color: var(--text-color);
}

html,
body,
#root {
    height: 100%;
    margin: 0;
}

.react-flow__node,
.react-flow__node.selected {
    background: transparent !important;
    border: none;
    box-shadow: none !important;
    outline: none;
}
